{%- style -%}
  #shopify-section-template--21294450573590__main .page-width {
    max-width: 80rem !important;
    padding: 0;
  }

   .page__title {
    text-align: center;
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(34 / 24);
    margin-top: 14rem;
    margin-bottom: 4rem;
  }
  .policy__container {
    width: 100%;
  }
  .policy__form {
    width: 100%;
    height: 100%;
    padding: 8.5rem;
    border: 1px solid #eee;
  }
  .policy__form p {
    color: #595757;
    font-family: Poppins , Noto Sans JP;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(34 / 16);
    letter-spacing: 1px;
    margin: 0;
  }
  .policy__form h3 {
    margin : 0 ;
    padding-top: 2.8rem;
    padding-bottom: 1.2rem;
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(34 / 24);
  }

    .policy__form h4 {
    margin : 0 ;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(26 / 18);
  }

   .policy__form a {
     color: #575252;
   }

    .policy__form a:hover {
     color: #3353cd;
   }

  .ddict_btn {
    display: none;
  }

  @media screen and (min-width: 750px) and (max-width: 900px) {
    #shopify-section-template--21294450573590__main .page-width--narrow {
      padding: 0 5rem !important;
    }

    .page__title {
    margin-top: 10rem;
    }

    .policy__form {
      padding: 5rem;
    }
  }


  @media screen and (max-width: 749px) {
    .page__title {
    margin-top: 4.5rem;
    font-size: 2rem
    }

    .policy__container {
      width: 100%;
      padding: 0 2.5rem
    }
    .policy__form {
      padding: 3.5rem 3rem;
    }

    .policy__form h3 {
     font-size: 1.6rem;
    }
    .policy__form h4 {
    font-size: 1.4rem;
  }
    .policy__form p {
      font-size: 1.4rem
    }
  }


{%- endstyle -%}

<div class="page-width page-width--narrow">
  <h3 class="page__title">{{ 'policy.title' | t }}</h3>
  <div class="policy__container">
    <div class="policy__form">
      {{ shop.privacy_policy }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Policy",
    "tag": "section",
    "class": "section",
    "settings": [

    ]
  }
{% endschema %}
