<div class="top-collection-list">
  <div class="collection-list-container page-width">
    <div class="collection">
      <div class="collection-img">
        <img
          src="https://goodndoc.vn/wp-content/uploads/2021/07/serum-b5-goodndoc-2-1.jpg"
          alt="Lights"
          style="width:100%">
      </div>
      <div class="collection-des-wrapper">
        <h2 class="collection-title">KANASAN RESORT</h2>
        <p class="collection-des">コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。</p>
      </div>
      <div class="collection-button scroll-trigger animate--slide-in">
        <a role="link" href="#">
          製品を見る
        </a>
      </div>
    </div>
    <div class="collection">
      <div class="collection-img">
        <img
          src="https://goodndoc.vn/wp-content/uploads/2021/07/serum-b5-goodndoc-2-1.jpg"
          alt="Lights"
          style="width:100%">
      </div>
      <div class="collection-des-wrapper">
        <h2 class="collection-title">KANASAN RESORT</h2>
        <p class="collection-des">コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。</p>
      </div>
      <div class="collection-button scroll-trigger animate--slide-in">
        <a role="link" href="#">
          製品を見る
        </a>
      </div>
    </div>
    <div class="collection">
      <div class="collection-img">
        <img
          src="https://goodndoc.vn/wp-content/uploads/2021/07/serum-b5-goodndoc-2-1.jpg"
          alt="Lights"
          style="width:100%">
      </div>
      <div class="collection-des-wrapper">
        <h2 class="collection-title">KANASAN RESORT</h2>
        <p class="collection-des">コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。</p>
      </div>
      <div class="collection-button scroll-trigger animate--slide-in">
        <a role="link" href="#">
          製品を見る
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .top-collection-list {
    padding-top: 12rem;
    padding-bottom: 16rem;
    background: rgba(89, 87, 87, 0.05);
  }
  .collection-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .collection-des-wrapper .collection-title {
    color: #595757;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }

  .collection-des-wrapper .collection-des {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(30 / 18);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .collection-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .collection-button a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #595757;
    font-size: 1.6rem;
    font-family: Poppins;
    border: #595757 1px solid;
    width: 80%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
</style>