<div class="top-collection-list">
  <div class="collection-list-container page-width">
    {% for collection in collections %}
      {% if collection.title != "All" %}
        <div class="collection">
          <div class="collection-img">
            <img src="{{ collection | img_url: 'large'}}" alt="{{ collection.image.alt }}">
          </div>
          <div class="collection-des-wrapper">
            <h2 class="collection-title">{{ collection.title }}</h2>
            <p class="collection-des">コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。コンセプト説明が入ります。</p>
          </div>
          <div class="collection-button scroll-trigger animate--slide-in">
            <a role="link" href="{{collection.url}}">
              製品を見る
            </a>
          </div>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  .top-collection-list {
    padding-top: 12rem;
    padding-bottom: 16rem;
    background: rgba(89, 87, 87, 0.05);
  }
  .collection-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .collection-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .collection-des-wrapper .collection-title {
    color: #595757;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .collection-des-wrapper .collection-des {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: calc(30 / 18);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .collection-button {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .collection-button a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #595757;
    font-size: 1.6rem;
    font-family: Poppins;
    border: #595757 1px solid;
    width: 80%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .collection-button a:hover {
    color: #fff;
    transition: 0.3s;
  }

  .collection-button a:hover {
    background-color: #595757;
    transition: 0.3s;
  }

  @media screen and (max-width: 800px) {
    .top-collection-list {
      padding-top: 8rem;
      padding-bottom: 10rem;
    }
    .collection-list-container {
      gap: 2.5rem;
    }
    .collection-des-wrapper .collection-title {
      font-size: 1.8rem;
      letter-spacing: 1.2px;
    }

    .collection-des-wrapper .collection-des {
      font-size: 1.6rem;
      line-height: calc(24 / 16);
    }

    .collection-button {
      margin-top: 2.4rem;
    }

    .collection-button a {
      font-size: 1.6rem;
      width: 80%;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }


    @media screen and (max-width: 650px) {
      .collection-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
      }
    }

    @media screen and (max-width: 400px) {
      .collection-button a {
        width: 100%;
      }
    }
  }
</style>