<div class="category-link-list page-width">
  {% for type in shop.types %}
    <div class="collection-link-wrapper">
      <span class="collection-link">
        {{- type | link_to_type }}
      </span>
    </div>
  {% endfor %}
</div>

<style>

  div.category-link-list {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .collection-link-wrapper {
    display: inline-block;
  }

  div.category-link-list a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5rem;
    text-decoration: none;
  }

  div.category-link-list a:hover {
    background-color: #777;
  }
  .collection-link-container {
    margin-top: 6rem;
  }


  .collection-link a {
    color: #595757;
    font-family: Noto Sans JP;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 1rem;
    text-decoration: none;
  }
  .collection-link a:hover {
    font-weight: 500;
    cursor: pointer;
    opacity: 0.7;
  }

  div.category-link-list a {
    display: inline-block;
    color: #777;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.category-link-list a:hover {
    background-color: rgb(231, 224, 224);
  }
</style>

<style>

  div.category-link-list {
    overflow: auto;
    white-space: nowrap;
  }
  /* width */
  .category-link-list ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .category-link-list ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>