<div class="galley-link-button-wrapper">
  <div class="galley-link-button page-width">
    <a target="_blank" href="{{section.settings.instagram_link}}">
      <span>
        INSTAGRAM
      </span>
      <img src="{{ "instagram.svg" | asset_url }}">
    </a>
  </div>

</div>


<style>
  .galley-link-button-wrapper {
    background: rgba(89, 87, 87, 0.05);
    padding-top: 6rem;
    padding-bottom: 12rem;
  }

  @media screen and (max-width: 800px) {
    .galley-link-button-wrapper {
      padding-top: 3rem;
      padding-bottom: 6rem;
    }
  }

  .galley-link-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .galley-link-button a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #595757;
    font-size: 1.6rem;
    font-family: Poppins;
    min-width: 34rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

  }

  .galley-link-button a img {
    margin-left: 8px;
  }

  @media screen and (max-width: 650px) {
    .galley-link-button a {
      width: 80%;
    }
  }


  @media screen and (max-width: 400px) {
    .galley-link-button a {
      width: 100%;
    }
  }

  .galley-link-button a:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
  }
</style>

{% schema %}
  {
    "name": "Gallery button",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram link"
      }
    ],
    "presets": [
      {
        "name": "Gallery button"
      }
    ]
  }
{% endschema %}