.product__info-wrapper {
  width: 30.938rem;
}

.product-prices p {
  color: #595757;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24rem;
}

.product__title {
  margin-bottom: 3.3rem;
}

.product__title h1 {
  color: #595757;
  font-family: Noto Sans JP;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: calc(28 / 24);
}

.product-prices {
  margin-bottom: 3rem;
}

.product__description {
  /* margin: 2.5rem 0; */
  margin-top: 8.79rem;
  padding: 8.7rem 15rem;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  color: #595757;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: calc(34 / 17);
  letter-spacing: 1.7px;
  width: 100%;
}

/* Media Query for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .product__description {
    padding: 4rem;
  }
}

/* Media Query for screens up to 480px wide */
@media screen and (max-width: 480px) {
  .product__description {
    padding: 2rem;
    font-size: 16px;
    line-height: 28px;
  }
}

.product-description__btn {
  padding: 0.875rem 5.875rem;
  border: 0.5px solid #595757;
  background: #ffff;
  cursor: pointer;
  color: #595757;
  padding: 0.875rem 5.875rem;
  width: 27.6rem;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}
.product-description__btn:hover {
  color: #fff;
  background-color: #595757;
}

.product-author {
  margin-top: 2.188rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 8.7rem 15rem;
  font-family: Poppins;
  gap: 48px;
  width: 100%;
}
.product-author__detail {
  display: flex;
  align-items: flex-start;
  gap: 6.25rem;
  color: #595757;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: calc(34 / 16);
  letter-spacing: 1.6px;
}
.product-author__detail .product-author__detail--info {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  color: #595757;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.product-author__detail .product-author__detail--info img {
  border-radius: 50%;
  object-fit: cover;
}
.product-author__detail .product-author__detail--info p {
  width: 12.75rem;
}

.product-author__detail p {
  margin: 0px;
  color: #595757;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.16rem;
}

/* Media Query for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .product-author {
    padding: 2rem;
    gap: 24px;
  }
  .product-author__detail {
    gap: 3rem;
  }
  .product-author__detail .product-author__detail--info img {
    width: 5rem;
    height: 5rem;
  }
  .product-author__detail p {
    font-size: 14px;
  }
}

/* Media Query for screens up to 480px wide */
@media screen and (max-width: 480px) {
  .product-author {
    padding: 1rem;
  }
  .product-author__detail {
    flex-direction: column;
    gap: 1rem;
  }
  .product-author__detail .product-author__detail--info {
    align-items: center;
  }
  .product-author__detail .product-author__detail--info img {
    width: 4rem;
    height: 4rem;
  }
  .product-author__detail p {
    font-size: 12px;
    text-align: center;
  }
}

.product-ingredient {
  margin-top: 2.188rem;
  padding: 8.7rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  border: 1px solid #eee;
  width: 100%;
}

.product-ingredient__list {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.product-ingredient__list--detail {
  display: flex;
}
.product-ingredient__list--detail-content {
  width: 70%;
  color: #595757;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: calc(34 / 16);
  letter-spacing: 1.6px;
}
.product-ingredient__title,
.product-ingredient__list--detail-title {
  color: #595757;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: calc(34 / 18);
  letter-spacing: 1.8px;
  white-space: nowrap;
  width: 30%;
}

.product-container {
  display: flex;
  justify-content: center;
  padding-left: 8rem;
  flex-wrap: wrap;
}

.product-left {
  flex: 1;
}

.product-right {
  flex: 1;
}

/* Media Query for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .product-ingredient {
    padding: 3rem;
    gap: 4rem;
  }
  .product-ingredient__list--detail {
    flex-direction: column;
  }
  .product-ingredient__list--detail-title {
    white-space: normal;
    width: 100%;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8rem;
    flex-wrap: wrap;
  }
}

/* Media Query for screens up to 480px wide */
@media screen and (max-width: 480px) {
  .product-ingredient {
    padding: 2rem;
    gap: 2rem;
  }
  .product-ingredient__list--detail-content {
    width: 100%;
  }
  .product-ingredient__list--detail-title {
    width: 100%;
  }
}

.product-review {
  margin-top: 4.188rem;
  padding: 6.75rem 7.8rem;
  background: rgba(89, 87, 87, 0.1);
  width: 100%;
}

.product-review__title {
  text-align: center;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #5957;
}

.product-review__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  color: #595757;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-review__rating--number {
  margin: 0px;
}

.product-review__rating--list-star {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.product-review__rating--list-star li {
  list-style: none;
  padding: 0px;
  margin-right: 0.8rem;
}

.product-review__rating--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  margin-top: 3rem;
}

.product-review__rating--btn button {
  padding: 0.875rem 5.875rem;
  width: 27.6rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.product-review__rating--btn .btn-1 {
  border: 0.5px solid #595757;
  background: #595757;
  color: #fff;
}

.product-review__rating--btn .btn-1:hover {
  background: #f5f4f4;
  color: #595757;
}
.product-review__rating--btn .btn-2:hover {
  background: #f5f4f4;
  color: #595757;
}

.product-form__quantity .form__label {
  margin-bottom: 0.6rem;
  margin-right: 1.2rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-quantity select {
  background: url(select.png);
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
  width: 8.9rem;
  height: 4.7rem;
  flex-shrink: 0;
  line-height: 3rem; /* 166.667% */
  letter-spacing: 1.8px;
  color: #595757;
  font-family: Poppins;
  border: 0.3px solid #595757;
  font-size: 18px;
  padding-left: 20px;
}

.product-quantity select option {
  line-height: 3rem; /* 166.667% */
  letter-spacing: 1.8px;
  color: #595757;
  font-family: Poppins;
  font-size: 14px;
  background: #595757;
}

.product-quantity select option:not(:checked) {
  background-color: #fff;
}
.product-quantity select option:checked {
  background-color: #fff;
}

.product-quantity select:focus {
  outline: none;
  border-color: #595757;
}

.product-form__buttons {
  padding-top: 6.4rem;
  margin: 0px;
}
.btn-add-to-cart {
  border: 0.5px solid rgba(89, 87, 87, 1);
  padding: 0.875rem 5.875rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  font-size: 18px;
  height: 46px;
}

.add-to-cart__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-btn {
  background-color: #595757;
  color: #fff;
  text-align: center;
  width: 271px;
}

.product__button {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}

.favorite__button {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
