.product__info-wrapper {
  width: 49.5rem;
}

.product-prices p {
  color: #595757;
  font-family: Noto Sans JP;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 350;
  line-height: 3.2rem; /* 133.333% */
  letter-spacing: 0.24rem;
}

.product__title {
  margin-bottom: 3.3rem;
}

.product__title h1 {
  color: #595757;
  font-family: Noto Sans JP;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 350;
  line-height: 2.8rem;
}

.product-prices {
  margin-bottom: 3rem;
}

.product__description {
  margin: 2.5rem 0;
  margin-top: 8.79rem;
  padding: 8.7rem 15rem;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  color: #595757;
  font-family: Poppins;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.4rem; /* 200% */
  letter-spacing: 0.17rem;
}
.product-description__btn {
  padding: 1.4rem 9.4rem;
  border: 0.05rem solid #595757;
  background: #ffff;
  cursor: pointer;
}
.product-description__btn:hover {
  color: #fff;
  background-color: #595757;
}

.product-author {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 5.1rem 15.8rem;
  gap: 4.8rem;
}
.product-author__detail {
  display: flex;
  align-items: flex-start;
  gap: 10rem;
  color: #595757;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-author__detail .product-author__detail--info {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  color: #595757;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.4rem; /* 188.889% */
}

.product-author__detail .product-author__detail--info img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
}
.product-author__detail .product-author__detail--info p {
  width: 12.4rem;
}

.product-author__detail p {
  margin: 0px;
  color: #595757;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.4rem; /* 212.5% */
  letter-spacing: 0.16rem;
}

.product-ingredient {
  margin-top: 3.5rem;
  padding: 7.7rem 15.5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  border: 1px solid #eee;
}

.product-ingredient__list {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.product-ingredient__list--detail {
  display: flex;
}
.product-ingredient__list--detail-content {
  width: 70%;
}
.product-ingredient__list--detail-title {
  white-space: nowrap;
  width: 30%;
}

.product-review {
  margin-top: 6.7rem;
  padding: 6rem 7.8rem;
  background: rgba(89, 87, 87, 0.1);
  width: 100%;
}

.product-review__title {
  text-align: center;
  padding-bottom: 2.8rem;
  border-bottom: 1px solid #595757;
}

.product-review__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-review__rating--number {
  margin: 0px;
}

.product-review__rating--list-star {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.product-review__rating--list-star li {
  list-style: none;
  padding: 0px;
  margin-right: 0.8rem;
}

.product-review__rating--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  margin-top: 4.8rem;
}

.product-review__rating--btn button {
  padding: 1.4rem 9.4rem;
  width: 27.6rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.product-review__rating--btn .btn-1 {
  border: 0.5px solid #595757;
  background: #595757;
  color: #fff;
}

.product-review__rating--btn .btn-1:hover {
  background: #f5f4f4;
  color: #595757;
}
.product-review__rating--btn .btn-2:hover {
  background: #f5f4f4;
  color: #595757;
}

.product-form__quantity .form__label {
  margin-bottom: 0.6rem;
  margin-right: 1.2rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-quantity select {
  background: url(select.png);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
  width: 8.9rem;
  height: 4.7rem;
  flex-shrink: 0;
  line-height: 3rem; /* 166.667% */
  letter-spacing: 1.8px;
  color: #595757;
  font-family: Poppins;
  border: 0.3px solid #595757;
  font-size: 1.4rem;
  padding-left: 2rem;
}

.product-quantity select option {
  line-height: 3rem; /* 166.667% */
  letter-spacing: 1.8px;
  color: #595757;
  font-family: Poppins;
  font-size: 1.8rem;
  font-size: 1.4rem;
}

.product-quantity select option:not(:checked) {
  background-color: #fff;
}
.product-quantity select option:checked {
  background-color: #fff;
}

.product-quantity select:focus {
  outline: none;
  border-color: #595757;
}

.product-form__buttons {
  padding-top: 6.4rem;
  margin: 0px;
}
.product-form__buttons button {
  border: 0.5px solid rgba(89, 87, 87, 1);
  width: 32.5rem;
  height: 5.8rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.btn-checkout {
  width: 32.5rem;
  background-color: #595757;
  color: #fff;
  text-align: center;
}
.product__button {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
